apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app: {{ .Values.deployer.prefix }}-uninstall
  name: {{ .Values.deployer.prefix }}-uninstall
  namespace: {{ .Values.namespace }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded,hook-failed
    "helm.sh/hook-weight": "4"
    checkov.io/skip1: CKV_K8S_21
    checkov.io/skip2: CKV_K8S_30
    checkov.io/skip3: CKV_K8S_28
    checkov.io/skip4: CKV_K8S_22
    checkov.io/skip5: CKV_K8S_20
    checkov.io/skip6: CKV_K8S_37
    checkov.io/skip7: CKV_K8S_23
    checkov.io/skip8: CKV_K8S_38
    checkov.io/skip9: CKV_K8S_29
    checkov.io/skip10: CKV_K8S_40
    checkov.io/skip11: CKV_K8S_31
    checkov.io/skip12: CKV_K8S_9
    checkov.io/skip13: CKV_K8S_16
    checkov.io/skip14: CKV_K8S_8
    checkov.io/skip15: CKV_K8S_43
    checkov.io/skip16: CKV_K8S_10
    checkov.io/skip17: CKV_K8S_11
    checkov.io/skip18: CKV_K8S_12
    checkov.io/skip19: CKV_K8S_13
    checkov.io/skip20: CKV_K8S_14
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  template:
    metadata:
      name: {{ .Values.deployer.prefix }}-uninstall
      labels:
        app: {{ .Values.deployer.prefix }}-uninstall
    spec:
      {{ if eq (default .Values.createImagePullSecret false) true }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecName }}
      {{ end }}
      containers:
        - name: {{ .Values.deployer.prefix }}-uninstall
          image: {{ .Values.deployer.image }}
          imagePullPolicy: Always
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          env:
            - name: CONFIG_DIR
              value: /Data/cpd-config
            - name: STATUS_DIR
              value: /Data/cpd-status
          volumeMounts:
            - name: config-volume
              mountPath: /Data/cpd-config/config
            - name: status-volume
              mountPath: /Data/cpd-status
          command: ["/bin/sh", "-xc"]
          args:
            - /cloud-pak-deployer/scripts/cp4d/cp4d-delete-instance.sh cpd <<< "y"
          resources:
            limits:
              cpu: 250m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi
      restartPolicy: Never
      securityContext:
        runAsUser: 0
      serviceAccountName: {{ .Values.deployer.prefix }}-sa
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.deployer.prefix }}-config
        - name: status-volume
          persistentVolumeClaim:
            claimName: {{ .Values.deployer.prefix }}-status
